.jsx-641449633 {
  display: grid;
  grid-template-rows: auto 1fr;
  width: calc(100% - 40px);
  max-width: 900px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.chatHolder {
  display: grid;
  grid-template-rows: 1fr 100px;
  box-sizing: border-box;
}
.chatText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 1em;
  gap: 1em;
  padding: 1em;
  height: calc(46.91rem - 10px - 100px - 100px - 100px);
  /* height: calc(100vh - 40px - 100px - 100px - 100px); */
  overflow-y: auto;
  width: 29.6rem;
}
.form {
  display: grid;
  grid-template-columns: 1fr 100px;
  border-top: 1px solid #eee;
}
.textarea {
  padding: 1em;
  border: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.2em;
  resize: none ;
}
.textarea:focus-visible {
  outline: none;
}
.button:disabled {
  color: #fff;
  opacity: 0.5;
}
.button {
  border: 0;
  border-radius: 5px;
  background: linear-gradient(90deg, #ffc444, #ffe4af);
  font-weight: 700;
  font-size: 1.4em;
}
.message {
  background-color: #eef5f8;
  padding: 1em;
  border-radius: 10px;
  flex-grow: 0;
}
.message[data-author='other'] {
  background: linear-gradient(to right, #ffc444, #ffe4af);
  background-color: rgba(0, 0, 0, 0);
  padding: 1em;
  border-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-grow: 0;
}

.message[data-author='me'] {
  background-color: #eef5f8;
  color: rgb(0, 0, 0);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 10px !important;
}
