.item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: white;
}

.time {
  position: absolute;
  right: 0;
  padding-right: 5px;
}

.phone {
  border-bottom: solid black;
  padding-bottom: 3px;
}

.text {
  padding-top: 3px;
}