.container {
  text-align: -webkit-center;
  position: relative;
  height: 100%;

  &_name {
    color: black;
    font-family: sans-serif;
    grid-area: name;
  }

  &_text {
    grid-area: text;
  }

  &_icon {
    color: black;
    font-size: 400% !important;
    grid-area: icon;
    border-left: dotted gray;
  }

  &_date {
    grid-area: date;
    color: red;
  }

  &_inner {
    background-color: white;
    width: 60%;
    padding: 5px;
    margin: 20px;
    
    color: black;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 30%);
    justify-items: start;

    // display: grid;
    // grid-template-columns: 350px 50px 100px;
    // grid-template-rows: auto;
    // grid-template-areas: 
    // "name phone icon"
    // "text ballroom icon"
    // "date date icon";

    border-left: thick solid black;
    text-align: start;
  }
}

.chat {
  background-color: white;
  max-width: 472px;
  position: absolute;
  top: 0px;
  left: 780px;
  box-shadow: 2px 3px 5px rgb(0 0 0 / 30%);
}
