.container {
  display: list-item;
  text-align: -webkit-center;
  padding-top: 100px;
  position: relative;
  height: 100%;

  &_name {
    color: black;
    font-family: sans-serif;
    grid-area: name;
  }

  &_text {
    grid-area: text;
  }

  &_icon {
    color: black;
    font-size: 400% !important;
    grid-area: icon;
    justify-self: center;
    align-self: center;
    border-left: dotted gray;
  }

  &_date {
    grid-area: date;
    color: red;
  }

  &_inner {
    background-color: white;
    width: 40%;
    border: 1px solid;
    padding: 5px;
    margin: 20px;
    font-family: sans-serif;
    color: black;    
    box-shadow: 2px 3px 5px rgb(0 0 0 / 30%);
    justify-items: start;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "name phone icon"
    "text ballroom icon"
    "date date icon";
    border-left: thick solid black;
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #e07800;
  overflow: hidden;
  margin-top: 50px;
  color: white;
}

.total {
  font-size: larger;
  margin-top: 10px;
}
