.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-column-gap: 45px;
}

.ballroom {
  background-color: aliceblue !important; // delete this later
  background-size: cover; // or 100% 100% to fill
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
  width: 100%;
}

.ballroom:focus {
  opacity: 0.5;
}

.wording {
  font-size: large;
  display: flex;
  justify-content: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 95%;
}

