.grid_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(360px, 1fr));
  grid-column-gap: 1rem;
  margin: 5rem;
}

@media(max-width:940px){
  .grid_container {
     grid-template-columns: repeat(2, minmax(360px, 1fr));
  }
}
@media(max-width:640px){
  .grid_container {
     grid-template-columns: repeat(1, minmax(360px, 1fr));
  }
}
.ballroom {
  background-size: cover; // or 100% 100% to fill
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
  width: 100%;
  margin-top: 1rem !important;
  // filter: brightness(0.8);
}

.ballroom:focus {
  opacity: 0.5;
}

.wording {
  font-size: 170%;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  color: black;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 95%;
  background-color: white;
}

.overlay {
  filter: brightness(0.8);
  
}