.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: aliceblue;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .footer a {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-grow: 1;
// }

// .title a {

//   text-decoration: none;
// }

// .title a:hover,
// .title a:focus,
// .title a:active {
//   text-decoration: underline;
// }

// .title {
//   margin: 0;
//   line-height: 1.15;
//   font-size: 4rem;
// }

.title,
.description {
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  text-align: center;
  margin: auto;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1.5rem;
  height: 9rem;
  color: inherit;
  text-decoration: none;

  border-radius: 2px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 23rem;
  position: relative;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  float: left;
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: none;
}

.card h2 {
  // margin: 0 1rem 2rem 2rem;
  color: #282525;
  background-color: rgba(255, 255, 255, 0.77);
  // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
  padding-top: 19px;
  font-size: 180%;
  border-radius: 2px;
  width: 100%;
  height: 90px;
  z-index: 5;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  background-size: cover;
  z-index: 2;

  &:hover {
    position: fixed;
    z-index: 0;
    opacity: 0.3;
  }
}

.header {
  color: white;
  width: 100%;
  z-index: 2;
  background-color: #41586d;
  position: relative;

  .description {
    line-height: 1.5;
    font-size: 1.5rem;
    background: #212529;
  }
}

.hotel_image {
  position: absolute;
  left: 230px;
  z-index: -1;
}
