
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.45);
  background-color: white;
  opacity: 0.75;
  
}

.rating {
  flex: 1;
  margin: 10px;
}

.info {
  flex: 3;
}

@media (max-width: 600px) {
  .item {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}

.auth {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  background-image: url("../public/bw_palm_leaf.png");
  background-position: right;
  background-repeat: no-repeat;
  background-blend-mode: lighten(5);
  margin-bottom: 5rem;
  
}

.auth label {
  display: block;
  margin-bottom: 10px;
}

.auth select[type='number'],
.auth textarea[type='textarea'] {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  resize: vertical;
}
.auth select[type='number'] {
  height: 40px;
}

.auth input[type='submit'] {
  margin-top: 20px;
  width: 100%;
  font-size: 17px;
}

.auth div {
  margin-bottom: 20px;
}