.showcase {
  height: 300px;
  width: 100%;
  background: white  no-repeat center center;
  background-image: url('../public/leaf_big.jpg');
  background-size: cover;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.showcase * {
  z-index: 5;
}

.showcase h1 {
  font-size: 40px;
  margin-bottom: 0;
}
