.sidebar {
  display: flex !important;
  background-color: #e4e4e3 !important;
  opacity: 0.97;
  
  box-sizing: border-box;
  overflow: hidden;
  
  position: fixed !important;
  height: 100%;
  width: 12rem;
  flex-direction: column;
  z-index: 6;
  margin-top: 60.4px;

  button {
    display: flex;
    padding: 1.5em;
    justify-content: left;
    align-items: center;
    font-size: 16px;
    font-family: inherit;
    height: 7rem;
    width: 100%;
  }

  button:hover {
    color: white;
    opacity: 5 !important;
  }
}

.icon {
  position: fixed !important;
  z-index: 7;
  top: 50%;
  opacity: 0.9;
  color: red !important;
  animation: bounce 1.2s infinite;
}

@keyframes bounce {
  from {left: 0px; }
  to { left: 5px; }
}
// @keyframes moveInleft {
//   0% {
//       opacity: 0;
//       transform: translateX(-100px);
//   }

//   80% {
//       transform: translateX(10px);
//   }
//   100% {
//       opacity: 1;
//       transform: translate(0);
//   }
// }

.sidebar p {
  margin: 8px;
}


@media(max-width:992px){
  .sidebar {
    width: 9.75rem;
    margin-top: 0;
  }
 
}