.sidebar {
  display: flex !important;
  background-color: lightgray !important;
  border-radius: 0.5em !important;
  padding: 0.5em;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  position: fixed !important;
  height: 100%;
  flex-direction: column;

  // h1 {
  //   display: flex;
  //   padding: 0.1em;
  //   opacity: 0.5;
  //   justify-content: space-between;
  //   align-items: center;
  // }

  // h1:hover {
  //   opacity: 1;
  // }

  button {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 16px;
    font-family: unset;
  }

  button:hover {
    opacity: 1 !important;
  }
}

.icon {
  position: fixed !important;
  z-index: 4;
  top: 50%;
  opacity: 0.5;
}